@use '@styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: colors.$white;
  border-bottom: 2px solid colors.$grey;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.list {
  height: 100%;
  display: flex;
  flex-direction: row;

  list-style-type: none;

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.navigation {
  height: 100%;

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: colors.$black;
    border-bottom: 3px solid colors.$transparent;

    &_active {
      color: colors.$green;
      border-bottom: 3px solid colors.$green;
    }
  }

  & .list {
    gap: 60px;
  }
}

.user {
  & .list {
    gap: 24px;

    &__item {
      cursor: pointer;
    }
  }
}
